h2{
	color:#FF8888;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h3{
	color: ;
	margin-top: 2em;
}

body{
	margin:2px 2px 2px 2px;
	font-family: sans-serif;
}

button{
	color: blue;
	margin: 2px;
}

tr{
	background: #FF8800

}

